<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/adminSidebar.ejs'); -%>
<%- include ('../partials/adminNavbar.ejs'); -%>
<div class="container">
    <h3>STUDENT LIST</h3>
    <button type="button" class="btn btn-primary"><a href="/admin/registerstudents">Register Students</a></button>
    <%- include('../partials/data/studentsData.ejs') -%>
</div>
<%- include ('../partials/footer.ejs'); -%>