<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/matronSidebar.ejs'); -%>
<%- include ('../partials/navbar.ejs'); -%>
<div class="container">
    <h3>LIST OF SUCCESSFUL APPLICATIONS</h3>
    <%- include('../partials/data/successfulApplications.ejs') -%>
</div>
<%- include ('../partials/footer.ejs'); -%>