<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/matronSidebar.ejs'); -%>
<%- include ('../partials/matronNavbar.ejs'); -%>
<div class="container">
    <h3>STUDENT APPLICATION DETAILS</h3>
    <%- include('../partials/data/viewUserDetails.ejs') -%>
</div>
<%- include ('../partials/footer.ejs'); -%>