<div class="form">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Period</th>
        <th scope="col">Applicant</th>
        <th scope="col">Room </th>
        <!-- <th scope="col">Status</th> -->
        <th scope="col">Disability</th>
        <!-- <th scope="col">Disability Details</th> -->
        <th scope="col">Accommodated?</th>
        <!-- <th scope="col">Accommodated Period</th> -->
        <!-- <th scope="col">Is Sponsored?</th> -->
        <th scope="col">Sponsor</th>
        <th scope="col">Receives Helb?</th>
        <!-- <th scope="col">Helb Amount</th> -->
        <th scope="col">Received Bursary?</th>
        <!-- <th scope="col">Bursary Amount</th> -->
        <th scope="col">Work Study Benefits?</th>
        <!-- <th scope="col">Work Study Period</th> -->
        <th scope="col">Special Exams?</th>
        <!-- <th scope="col">Special Exam Period</th> -->
        <th scope="col">Reasons for Consideration</th>
      </tr>
    </thead>
    <tbody>
      <% if (sampleData.length> 0){ %>
        <% sampleData.forEach((data)=>{ %>
          <tr>
            <td>
              <%= data.ApplicationNo %>
            </td>
            <td>
              <%= data.ApplicationPeriod %>
            </td>
            <td>
              <%= data.RegistrationNo %>
            </td>
            <!-- <td>
              <%= data.Status %>
            </td> -->
            <td>
              <%= data.RoomNo %>
            </td>
            <td>
              <%= data.Disability %>
            </td>
            <!-- <td>
              <%= data.DisabilityDetails %>
            </td> -->
            <td>
              <%= data.AccommodatedBefore %>
            </td>
            <!-- <td>
              <%= data.AccommodationPeriod %>
            </td> -->
            <td>
              <%= data.IsSponsored %>
            </td>
            <!-- <td>
              <%= data.Sponsor %>
            </td> -->
            <td>
              <%= data.ReceivesHelb %>
            </td>
            <!-- <td>
              <%= data.HelbAmount %>
            </td> -->
            <td>
              <%= data.ReceivedBursary %>
            </td>
            <!-- <td>
              <%= data.BursaryAmount %>
            </td> -->
            <td>
              <%= data.WorkStudyBenefitsBefore %>
            </td>
            <!-- <td>
              <%= data.WorkStudyPeriod %>
            </td> -->
            <td>
              <%= data.SpecialExamsOnFinancialGrounds %>
            </td>
            <!-- <td>
              <%= data.SpecialExamPeriod %>
            </td> -->
            <td>
              <%= data.ReasonsForConsideration %>
            </td>
          </tr>
          <% }) %>
            <% } else { %>
              <tr>
                <td colspan="4">No Data Found</td>
              </tr>
              <% } %>
    </tbody>
  </table>
</div>