<div class="container">
  <div class="form">
    <% if (sampleData.length> 0){ %>
      <% sampleData.forEach((data)=>{ %>
        <h3>Application Details</h3>
        <form class="" action="/housekeeper/reviewapplications/<%= data.ApplicationNo %>" method="post">
          <div class="mb-3">
            <label for="RegistrationNo" class="form-label">Registration Number:</label>
            <input type="text" name="RegNo" class="form-control" id="RegistrationNo" disabled
              placeholder="<%= data.ApplicationNo %>" />
          </div>
          <div class="mb-3">
            <label for="hostel-name" class="form-label">Hostel Name:</label>
            <input type="text" name="HostelName" class="form-control" id="hostel-name" disabled
              placeholder="<%= data.PreferredHostel %>" />
          </div>

          <div class="row">
            <div class="col">
              <label for="ApplicationPeriod" class="form-label">Application Period:</label>
              <input type="number" name="ApplicationPeriod" class="form-control" id="ApplicationPeriod" disabled
                placeholder="<%= data.ApplicationPeriod %>" />
            </div>
          </div>
          <div class="mb-3">
            <label for="Disability" class="form-label">Do you live with any disability?</label>
            <input type="text" name="isDisabled" class="form-control" id="Disability" disabled
              placeholder="<%= data.Disability %>">

            <label for="DisabilityDetails" class="form-label">Details of Disability</label>
            <input type="text" name="DisabilityDetails" class="form-control" id="DisabilityDetails" disabled
              placeholder="<%= data.DisabilityDetails %>" />
          </div><br>
          <h4>SECTION II:NEEDS ASSESSMENT(Attach evidence where needed)</h4>
          <div class="mb-3">
            <label for="AccomodatedBefore" class="form-label">Have you ever been accomodated within the
              university?</label>
            <input name="accommodationBefore" id="AccomodatedBefore" class="form-control" disabled
              placeholder="<%= data.AccommodatedBefore %>" />
            <label for="AccomodationPeriod" class="form-label">(If yes specify the period)</label>
            <input type="number" name="AccommodationPeriod" class="form-control" id="AccomodationPeriod" disabled
              placeholder="<%= data.AccommodationPeriod %>" />

            <label for="IsSponsored" class="form-label">Are you sponsored by an organization recognized by the
              University and sponsorship includes accommodation?</label>
            <input name="IsSponsored" class="form-control" id="IsSponsored" disabled
              placeholder="<%= data.IsSponsored %>" />
            <label for="sponsor" class="form-label">(If yes, provide the name of the sponsor)</label>
            <input type="text" name="sponsor" class="form-control" id="Sponsor" disabled
              placeholder="<%= data.Sponsor %>" />

            <label for="ReceivesHelb" class="form-label">Do you receive HELB?</label>
            <input type="text" name="ReceivesHelb" class="form-control" id="ReceivesHelb" disabled
              placeholder="<%= data.ReceivesHelb %>" />
            <label for="HelbAmount" class="form-label">(If yes, how much per year)</label>
            <input type="number" class="form-control" name="HelbAmount" id="HelbAmount" disabled
              placeholder="<%= data.HelbAmount %>" />

            <label for="bursary" class="form-label">Have you ever benefited from DeKUT bursary before?</label>
            <input type="text" name="ReceivedBursary" class="form-control" id="bursary" disabled
              placeholder="<%= data.ReceivedBursary %>" />
            <label for="BursaryAmount" class="form-label">(If yes, how much per year)</label>
            <input type="text" class="form-control" name="BursaryAmount" id="BursaryAmount" disabled
              placeholder="<%= data.BursaryAmount %>" />

            <label for="Work-study" class="form-label">Have you ever benefited from Work-study program before?</label>
            <input type="text" name="WorkStudyBenefitsBefore" class="form-control" id="Work-study" disabled
              placeholder="<%= data.WorkStudyBenefitsBefore %>" />
            <label for="WorkStudyPeriod" class="form-label">(If yes, specify the period)</label>
            <input type="number" class="form-control" name="WorkStudyPeriod" id="WorkStudyPeriod" disabled
              placeholder="<%= data.WorkStudyPeriod %>" />

            <label for="SpecialExamsOnFinancialGrounds" class="form-label">Have you ever deferred of studies on
              financial grounds?</label>
            <input type="text" name="deferred" class="form-control" id="deferred" disabled
              placeholder="<%= data.SpecialExamsOnFinancialGrounds %>" />
            <label for="SpecialExamPeriod" class="form-label">(If yes, specify the period)</label>
            <input type="number" class="form-control" name="SpecialExamPeriod" id="SpecialExamPeriod" disabled
              placeholder="<%= data.SpecialExamPeriod %>" />

            <label for="ReasonsForConsideration" class="form-label">Briefly describe why you should be considered for a
              space within the University hostels?</label>
            <textarea type="text" name="ReasonsForConsideration" class="form-control" id="ReasonsForConsideration"
              disabled placeholder="<%= data.ReasonsForConsideration %>"></textarea><br>
      <% }) %>
      <% } else { %>
          <textarea type="text" name="ReasonsForConsideration" class="form-control" id="ReasonsForConsideration"
          disabled placeholder="Data not found"></textarea>
      <% } %>
      <label for="Status" class="form-label">Review Application</label>
      <select id="status" name="Status" size="1" class="form-select mb-3">
        <option value="Pending" selected disabled>(select one)</option>
        <option value="Accepted">Accept</option>
        <option value="Rejected">Reject</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
  </div>
</div>