<div class="form">
  <h3>Student Details</h3>
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
              <th scope="col">Registration Number</th>
              <th scope="col">Surname</th>
              <th scope="col">First Name</th>
              <th scope="col">Second Name</th>
              <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          <% if (sampleData.length > 0){ %>
              <% sampleData.forEach((data)=>{ %>
                  <tr>
                    <td><%= data.RegNO %></td>
                    <td><%= data.Surname %></td>
                    <td><%= data.FirstName %></td>
                    <td><%= data.SecondName %></td>
                    <td><%= data.Gender %></td>
                  </tr>
                <% }) %>
          <% } else { %>
            <tr>
              <td colspan="4">No Data Found</td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>